/target/
Cargo.lock
buck-out
/.direnv
.buckconfig.local
.envrc.local
__pycache__/

# symlinks
/examples/with_prelude/prelude
/examples/with_prelude/third-party/ocaml/opam
/examples/with_prelude/third-party/haskell/ghc
/examples/with_prelude/third-party/ocaml/standard_library
