# libsqlite3-sys uses a bindgen binding to libsqlite.
# We can't easily import bindgen because of its libclang dependency,
# so in the meantime we need to use pre-generated bindgen files.
buildscript = []
[env]
OUT_DIR = "."
# We use local vendored sqlite with bundled binding
[platform_fixup.'cfg(not(target_os = "windows"))']
extra_mapped_srcs = {"sqlite3/bindgen_bundled_version.rs" = "src/bindgen.rs"}
[[platform_fixup.'cfg(not(target_os = "windows"))'.buildscript]]
[platform_fixup.'cfg(not(target_os = "windows"))'.buildscript.cxx_library]
name = "sqlite3"
srcs = ["sqlite3/*.c"]
headers = ["sqlite3/*.h"]
preprocessor_flags = [
    "-DSQLITE_ENABLE_COLUMN_METADATA",
    "-DSQLITE_ENABLE_FTS3",
    "-DSQLITE_ENABLE_RTREE",
]
# windows is probably going to pull in Win10 SDK's winsqlite3.dll anyway,
# so let's just use winsqlite
# uses the windows-sys crate's cxx_library as a dep, which is a static_lib
[platform_fixup.'cfg(target_os = "windows")']
buildscript = []
overlay = "overlay-windows"
