commands:
  print_versions:
    description: Version Info
    steps:
      - run:
          name: Version Info
          command: |
            rustup show
            rustc --version
            cargo --version
            rustup --version
            python3 --version

  init_opam:
    description: Init Opam
    steps:
      - run:
          name: Init opam
          command: |
            opam init --disable-sandboxing -y
            opam install menhir ppxlib -y
      - run:
          name: OCaml Configuration Info
          command: |
            eval $(opam env --switch=default)
            env | grep OPAM_SWITCH_PREFIX
            ocamlopt.opt -config

  setup_linux_env:
    description: Setup env for Linux
    steps:
      - run: sudo apt-get update
      - run: sudo apt-get install libssl-dev cmake clang lld opam
      - print_versions

  setup_macos_env:
    description: Setup env for macOS
    steps:
      - run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      - run:
          name: Brew install
          command: |
            # Avoid: "Error: The `brew link` step did not complete
            # successfully" (for llvm dependency 'six').
            rm -f '/usr/local/lib/python3.9/site-packages/six.py'
            brew unlink python@3.9
            brew install cmake coreutils opam llvm
      - print_versions

  setup_windows_env:
    description: Setup env for Windows
    steps:
      - run:
          # Use Rust toolchain installed by Rustup and uninstall default one.
          name: Install Rustup
          command: |
            choco uninstall -y rust
            choco install -y rustup.install
            write-output "[net]`ngit-fetch-with-cli = true" | out-file -append -encoding utf8 $Env:USERPROFILE/.cargo/config
            type $Env:USERPROFILE/.cargo/config
      - run:
          name: Create python3 symlink
          command: |
            New-Item -ItemType SymbolicLink -Path C:\ProgramData\chocolatey\bin\python3.exe -Target $(Get-Command python).Source
      - run:
          name: Write Powershell profile
          command: |
            $psProfileContent = @'
            $vsPath = & "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe" -latest -property installationPath
            $msvcVersion = (Get-Content -raw (Join-Path $vsPath "VC\Auxiliary\Build\Microsoft.VCToolsVersion.default.txt")).Trim()
            $msvcBinPath = Join-Path $vsPath "VC\Tools\MSVC\$msvcVersion\bin\Hostx64\x64"
            $llvmPath = Join-Path $vsPath "VC\Tools\Llvm\x64\bin"
            $env:PATH = "$env:USERPROFILE\.cargo\bin;$msvcBinPath;$llvmPath;" + $env:PATH
            # In CircleCI username here is shortened and this breaks some tests.
            $env:TEMP = "$env:USERPROFILE\AppData\Local\Temp"
            $env:TMP = $env:TEMP
            '@
            Add-Content "$PsHome\profile.ps1" $psProfileContent
      - print_versions

  setup_reindeer:
    description: Install Reindeer
    steps:
      - run:
          name: Install Reindeer
          command: |
            cargo install --locked --git https://github.com/facebookincubator/reindeer reindeer
            reindeer --third-party-dir shim/third-party/rust buckify

version: 2.1
orbs:
  win: circleci/windows@5.0
jobs:
  linux-build-and-test:
    description: |
      Build and test all with cargo for Linux
    docker:
      - image: cimg/rust:1.65.0
    resource_class: xlarge
    steps:
      - checkout
      - setup_linux_env
      - run:
          # the xlarge linux resource class has 8 CPUs, limit the number of jobs to 6 to avoid running out of resources
          name: "Set CARGO_BUILD_JOBS=6 to limit the number of CPUs used"
          command: echo 'export CARGO_BUILD_JOBS="6"' >> "$BASH_ENV"
      - run:
          name: Build buck2 binary (debug)
          command: |
            mkdir /tmp/artifacts
            cargo build --bin=buck2 -Z unstable-options --out-dir=/tmp/artifacts
      - run:
          name: Run test.py
          command: python3 test.py --ci --git --buck2=/tmp/artifacts/buck2

  linux-build-examples:
    description: Build example projects
    docker:
      - image: cimg/rust:1.65.0
    resource_class: xlarge
    steps:
      - checkout
      - setup_linux_env
      - init_opam
      - run:
          name: Build buck2 binary (release)
          command: |
            mkdir /tmp/artifacts
            cargo build --bin=buck2 --release -Z unstable-options --out-dir=/tmp/artifacts
      - run:
          name: Build example/prelude directory
          command: |
            cd examples/with_prelude
            /tmp/artifacts/buck2 init
            cp -r ../../prelude prelude
            # Additional setup for ocaml
            source ./setup.sh
            /tmp/artifacts/buck2 build //... -v 2
      - run:
          name: Build example/no_prelude directory
          command: |
            cd examples/no_prelude
            /tmp/artifacts/buck2 build //... -v 2
      - setup_reindeer
      - run:
          name: Build `buck2` with `buck2`
          command: |
            /tmp/artifacts/buck2 build :buck2 -v 2

  macos-build-and-test:
    description: |
      Build all with cargo for macOS
    macos:
      xcode: 13.4.1
    resource_class: macos.x86.medium.gen2
    steps:
      - checkout
      - setup_macos_env
      - run:
          name: Build buck2 binary (debug)
          command: |
            mkdir /tmp/artifacts
            cargo build --bin=buck2 -Z unstable-options --out-dir=/tmp/artifacts
      - run:
          name: Run test.py
          command: python3 test.py --ci --git --buck2=/tmp/artifacts/buck2

  macos-build-examples:
    description: Build example projects
    macos:
      xcode: 13.4.1
    resource_class: macos.x86.medium.gen2
    steps:
      - checkout
      - setup_macos_env
      - init_opam
      - run:
          name: Build buck2 binary (release)
          command: |
            mkdir /tmp/artifacts
            # the large resource class has 8 CPUs, limit the number of jobs to 6 to avoid running out of resources
            cargo build -j 6 --bin=buck2 --release -Z unstable-options --out-dir=/tmp/artifacts
      - run:
          name: Build example/prelude directory
          command: |
            export PATH=/usr/local/opt/llvm/bin:"$PATH"
            cd examples/with_prelude
            /tmp/artifacts/buck2 init
            cp -r ../../prelude prelude
            # Additional setup for ocaml
            source ./setup.sh
            /tmp/artifacts/buck2 build //... -v 2
      - run:
          name: Build example/no_prelude directory
          command: |
            cd examples/no_prelude
            /tmp/artifacts/buck2 build //... -v 2
      - setup_reindeer
      - run:
          name: Build `buck2` with `buck2`
          command: |
            /tmp/artifacts/buck2 build :buck2 -v 2

  windows-build-and-test:
    description: |
      Build and test all with cargo for Windows
    executor:
      name: win/default
      size: "xlarge"
      shell: powershell.exe
    steps:
      - checkout
      - setup_windows_env
      - run:
          name: Build buck2 binary (debug)
          command: |
            mkdir /tmp/artifacts
            cargo build --bin=buck2 -Z unstable-options --out-dir=/tmp/artifacts
      - run:
          name: Run test.py
          command: python3 test.py --ci --git --buck2=/tmp/artifacts/buck2

  windows-build-examples:
    description: Build example projects
    executor:
      name: win/default
      size: "xlarge"
      shell: powershell.exe
    steps:
      - checkout
      - setup_windows_env
      - run:
          name: Build buck2 binary (release)
          command: |
            mkdir /tmp/artifacts
            cargo build --bin=buck2 --release -Z unstable-options --out-dir=/tmp/artifacts
      - run:
          name: Build example/prelude directory
          command: |
            cd examples/with_prelude
            /tmp/artifacts/buck2 init
            copy-item -Path $env:CIRCLE_WORKING_DIRECTORY\prelude -Destination prelude -Recurse
            /tmp/artifacts/buck2 build //... -v 2
      - run:
          name: Build example/no_prelude directory
          command: |
            cd examples/no_prelude
            /tmp/artifacts/buck2 build //... -v 2
      - setup_reindeer
      # TODO: Fix buck2 bootstrap for Windows
      # - run:
      #     name: Build `buck2` with `buck2`
      #     command: |
      #       /tmp/artifacts/buck2 build :buck2 -v 2

workflows:
  build-and-test:
    jobs:
      - linux-build-and-test
      - linux-build-examples
      - macos-build-and-test
      - macos-build-examples
      - windows-build-and-test
      - windows-build-examples
