aliases:
  - &is_main_branch
      equal: [ main, << pipeline.git.branch >> ]

commands:
  print_versions:
    description: Version Info
    steps:
      - run:
          name: Version Info
          command: |
            rustup show
            rustc --version
            cargo --version
            rustup --version

  print_ocaml_config:
    description: OCaml Configuration Info
    steps:
      - run:
          name: OCaml Configuration Info
          command: |
            eval $(opam env --switch=default)
            env | grep OPAM_SWITCH_PREFIX
            ocamlopt.opt -config

  setup_linux_env:
    description: Setup env for Linux
    steps:
      - run: sudo apt-get update
      - run: sudo apt-get install libssl-dev cmake protobuf-compiler clang lld opam
      - run:
          name: Init opam
          command: |
            opam init --disable-sandboxing -y
            opam install menhir -y
      - print_versions
      - print_ocaml_config

  setup_macos_env:
    description: Setup env for macOS
    steps:
      - run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      - run:
          name: Brew install
          command: |
            # Avoid: "Error: The `brew link` step did not complete
            # successfully" (for llvm dependency 'six').
            rm -f '/usr/local/lib/python3.9/site-packages/six.py'
            brew install cmake protobuf coreutils opam llvm
      - run:
          name: Init opam
          command: |
            opam init --disable-sandboxing -y
            opam install menhir -y
      - print_versions
      - print_ocaml_config

  setup_windows_env:
    description: Setup env for Windows
    steps:
      - run:
          name: Install Rust
          command: |
            choco install rustup.install
            write-output "[net]`ngit-fetch-with-cli = true" | out-file -append -encoding utf8 $Env:USERPROFILE/.cargo/config
            type $Env:USERPROFILE/.cargo/config
      - run: choco install protoc
      - print_versions

version: 2.1
orbs:
  rust: circleci/rust@1.6.0
  win: circleci/windows@2.2.0
jobs:
  linux-build-and-test:
    description: |
      Build and test all with cargo for Linux
    docker:
      - image: cimg/rust:1.65.0
    resource_class: xlarge
    steps:
      - checkout
      - setup_linux_env
      - rust/clippy:
          with_cache: false
      - rust/build:
          with_cache: false
      - rust/test:
          with_cache: false

  linux-build-example-and-upload-binary:
    description: |
      Build the example project and upload buck2 binary for Linux
    docker:
      - image: cimg/rust:1.65.0
    resource_class: xlarge
    steps:
      - checkout
      - setup_linux_env
      - run:
          name: Build buck2 binary
          command: |
            mkdir /tmp/artifacts
            cargo build --bin=buck2 --release -Z unstable-options --out-dir=/tmp/artifacts
      - run:
          name: Setup and build example/prelude directory
          command: |
            cd examples/prelude
            ln -s $(realpath ../../prelude) prelude
            eval $(opam env --switch=default)
            printf "\n[ocaml]\nopam_switch_prefix=$OPAM_SWITCH_PREFIX\n" >> .buckconfig
            cat .buckconfig
            /tmp/artifacts/buck2 build //... -v 2
      - when:
          condition:
            *is_main_branch
          steps:
            - store_artifacts:
                path: /tmp/artifacts/buck2
                destination: buck2-linux

  macos-test:
    description: |
      Test all with cargo for macOS
    macos:
      xcode: 13.4.1
    resource_class: large
    steps:
      - checkout
      - setup_macos_env
      - rust/clippy:
          with_cache: false
      - rust/test:
          with_cache: false

  macos-build:
    description: |
      Build all with cargo for macOS
    macos:
      xcode: 13.4.1
    resource_class: large
    steps:
      - checkout
      - setup_macos_env
      - rust/build:
          with_cache: false

  macos-build-example-and-upload-binary:
    description: |
      Build the example project and upload buck2 binary for macOS
    macos:
      xcode: 13.4.1
    resource_class: large
    steps:
      - checkout
      - setup_macos_env
      - run:
          name: Build buck2 binary
          command: |
            mkdir /tmp/artifacts
            cargo build --bin=buck2 --release -Z unstable-options --out-dir=/tmp/artifacts
      - run:
          name: Setup and build example/prelude directory
          command: |
            export PATH=/usr/local/opt/llvm/bin:"$PATH"
            cd examples/prelude
            ln -s $(realpath ../../prelude) prelude
            eval $(opam env --switch=default)
            printf "\n[ocaml]\nopam_switch_prefix=$OPAM_SWITCH_PREFIX\n" >> .buckconfig
            cat .buckconfig
            /tmp/artifacts/buck2 build //... -v 2
      - when:
          condition:
            *is_main_branch
          steps:
            - store_artifacts:
                path: /tmp/artifacts/buck2
                destination: buck2-macos

  windows-build-and-test:
    description: |
      Build and test all with cargo for Windows
    executor:
      name: win/default
      size: "xlarge"
      shell: powershell.exe
    steps:
      - checkout
      - setup_windows_env
      - rust/clippy:
          with_cache: false
      - rust/test:
          with_cache: false
      - rust/build:
          with_cache: false

  windows-build-example-and-upload-binary:
    description: |
      Build the example project and upload buck2 binary for Windows
    executor:
      name: win/default
      size: "xlarge"
      shell: powershell.exe
    steps:
      - checkout
      - setup_windows_env
      - run:
          name: Build buck2 binary
          command: |
            mkdir C:/tmp/artifacts
            cargo build --bin=buck2 --release -Z unstable-options --out-dir=C:/tmp/artifacts
      - run:
          name: Setup and build example/prelude directory
          command: |
            cd examples/prelude
            cmd.exe /c mklink /D prelude C:\Users\circleci\project\prelude
            C:/tmp/artifacts/buck2.exe build //... -v 2
      - when:
          condition:
            *is_main_branch
          steps:
          - store_artifacts:
              path: C:/tmp/artifacts/buck2.exe
              destination: buck2-windows.exe

workflows:
  build-test-and-upload:
    jobs:
      - linux-build-and-test
      - linux-build-example-and-upload-binary
      - macos-test
      - macos-build
      - macos-build-example-and-upload-binary
      - windows-build-and-test
      - windows-build-example-and-upload-binary
