[package]
edition = "2024"
license = { workspace = true }
name = "buck2_events"
repository = { workspace = true }
version = "0.1.0"

[dependencies]
console = { workspace = true }
crossbeam-channel = { workspace = true }
derive_more = { workspace = true }
futures = { workspace = true }
hostname = { workspace = true }
is_proc_translated = { workspace = true }
pin-project = { workspace = true }
serde = { workspace = true }
smallvec = { workspace = true }
sys-info = { workspace = true }
tokio = { workspace = true }
uuid = { workspace = true }

allocative = { workspace = true }
dupe = { workspace = true }
fbinit = { workspace = true }
gazebo = { workspace = true }

buck2_build_info = { workspace = true }
buck2_cli_proto = { workspace = true }
buck2_core = { workspace = true }
buck2_data = { workspace = true }
buck2_error = { workspace = true }
buck2_util = { workspace = true }
buck2_wrapper_common = { workspace = true }

[target."cfg(windows)".dependencies]
winver = "1"

[lints]
workspace = true
