<?xml version="1.0" encoding="utf-8"?>
{% if package %}
  <manifest xmlns:android="http://schemas.android.com/apk/res/android" package="{{package}}">
{% else %}
  <manifest xmlns:android="http://schemas.android.com/apk/res/android">
{% endif %}
  {% if(minSdkVersion) %}
  <uses-sdk android:minSdkVersion="{{minSdkVersion}}"/>
  {% endif %}

  {% if permissions %}
  {% for permission in permissions %}
  <uses-permission android:name="{{permission}}" />
  {% endfor %}

  {% endif %}
</manifest>
