<component name="libraryTable">
  <library name="{{name}}">
    {% if type == "KOTLIN_JAVA_RUNTIME" %}
    <CLASSES>
      <root url="jar://$KOTLIN_BUNDLED$/lib/kotlin-stdlib.jar!/" />
      <root url="jar://$KOTLIN_BUNDLED$/lib/kotlin-reflect.jar!/" />
      <root url="jar://$KOTLIN_BUNDLED$/lib/kotlin-test.jar!/" />
      <root url="jar://$KOTLIN_BUNDLED$/lib/kotlin-stdlib-jdk7.jar!/" />
      <root url="jar://$KOTLIN_BUNDLED$/lib/kotlin-stdlib-jdk8.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$KOTLIN_BUNDLED$/lib/kotlin-stdlib-sources.jar!/" />
      <root url="jar://$KOTLIN_BUNDLED$/lib/kotlin-reflect-sources.jar!/" />
      <root url="jar://$KOTLIN_BUNDLED$/lib/kotlin-test-sources.jar!/" />
      <root url="jar://$KOTLIN_BUNDLED$/lib/kotlin-stdlib-jdk7-sources.jar!/" />
      <root url="jar://$KOTLIN_BUNDLED$/lib/kotlin-stdlib-jdk8-sources.jar!/" />
    </SOURCES>
    {% else %}
    <CLASSES>
      {% for binjar in binaryJars %}
      <root url="jar://$PROJECT_DIR$/{{binjar}}!/" />
      {% endfor %}
      {% for cpath in classPaths %}

      <root url="file://$PROJECT_DIR$/{{cpath}}" />
      {% endfor %}
    </CLASSES>
    {% if javadocUrls %}
    <JAVADOC>
      {% for docurl in javadocUrls %}
      <root url="{{docurl}}" />
      {% endfor %}
    </JAVADOC>
    {% else %}
    <JAVADOC />
    {% endif %}
    {% if sourceJars %}
    <SOURCES>
      {% for srcjar in sourceJars %}
      <root url="jar://$PROJECT_DIR$/{{srcjar}}!/" />
      {% endfor %}
    </SOURCES>
    {% else %}
    <SOURCES />
    {% endif %}
    {% endif %}
  </library>
</component>