<?xml version="1.0" encoding="UTF-8"?>
<module type="{{type}}" version="4">
  {% if metaInfDirectory %}
  <component name="DevKit.ModuleBuildProperties" url="{{metaInfDirectory}}/plugin.xml" />
  {% endif %}
  {% if androidProperties and androidProperties.enabled %}
  <component name="FacetManager">
    <facet type="android" name="Android">
      <configuration>
        {% if androidProperties.disallow_user_configuration %}
        <option name="ALLOW_USER_CONFIGURATION" value="false" />
        {% endif %}
        <option name="GEN_FOLDER_RELATIVE_PATH_APT" value="{{androidProperties.module_gen_path}}" />
        <option name="GEN_FOLDER_RELATIVE_PATH_AIDL" value="{{androidProperties.module_gen_path}}" />
        {% if androidProperties.android_manifest %}
        <option name="MANIFEST_FILE_RELATIVE_PATH" value="{{androidProperties.android_manifest|replace('.json', '.xml')}}" />
        {% endif %}
        <option name="RES_FOLDERS_RELATIVE_PATH" value="{{androidProperties.res}}" />
        {% if androidProperties.asset_folder %}
        <option name="ASSETS_FOLDER_RELATIVE_PATH" value="{{androidProperties.asset_folder}}" />
        {% endif %}
        {% if androidProperties.apk_path %}
        <option name="APK_PATH" value="{{androidProperties.apk_path}}" />
        {% endif %}
        {% if not androidProperties.is_android_library_project %}
        <option name="LIBRARY_PROJECT" value="{{androidProperties.is_android_library_project|lower}}" />
        {% endif %}
        <option name="PROJECT_TYPE" value="{{androidProperties.project_type}}" />
        {% if androidProperties.keystore %}
        <option name="CUSTOM_DEBUG_KEYSTORE_PATH" value="{{androidProperties.keystore}}" />
        {% endif %}
        {% if androidProperties.proguard_config %}
        <option name="PROGUARD_CFG_PATH" value="{{androidProperties.proguard_config}}" />
        {% endif %}
        <option name="UPDATE_PROPERTY_FILES" value="false" />
        <option name="ENABLE_SOURCES_AUTOGENERATION" value="{{androidProperties.autogenerate_sources|lower}}" />
        <includeAssetsFromLibraries>true</includeAssetsFromLibraries>
      </configuration>
    </facet>
  </component>
  {% endif %}
  {% if languageLevel %}
  <component name="NewModuleRootManager" LANGUAGE_LEVEL="{{languageLevel}}"
    {%- if androidProperties and androidProperties.compiler_output_path %} inherit-compiler-output="false"{% else %} inherit-compiler-output="true"{% endif %}>
  {% else %}
  <component name="NewModuleRootManager"
    {%- if androidProperties and androidProperties.compiler_output_path %} inherit-compiler-output="false"{% else %} inherit-compiler-output="true"{% endif %}>
  {% endif %}
    {% if androidProperties and androidProperties.compiler_output_path %}
    <output url="{{androidProperties.compiler_output_path}}" />
    {% endif %}
    <exclude-output />
    {% if  androidProperties and androidProperties.enabled %}
    <content url="{{androidProperties.module_gen_url}}">
      <sourceFolder url="{{androidProperties.module_gen_url}}" isTestSource="false" />
    </content>
    {% endif %}
    {% if generatedFolders and generatedFolders.sourceFolder %}
    {% for folder in generatedFolders.sourceFolder %}
    <content url="{{folder.url}}">
      <sourceFolder url="{{folder.url}}"
        {%- if folder.isTestSource %} isTestSource="{{folder.isTestSource |lower}}"{% else %} isTestSource="false"{% endif %} generated="true"
        {%- if folder.packagePrefix %} packagePrefix="{{folder.packagePrefix}}"{% endif %}
        {%- if folder.isResourceFolder %} type="{{folder.resourceFolderType}}"
          {%- if folder.relativeOutputPath %} relativeOutputPath=""{% endif %}
        {% endif %} />
    </content>
    {% endfor %}
    {% endif %}
    {% if contentRoots %}
    {% for contentRoot in contentRoots %}
    <content url="{{contentRoot.url}}">
      {% for folder in contentRoot.folders.sourceFolder %}
      <sourceFolder url="{{folder.url}}"
        {%- if folder.isTestSource %} isTestSource="{{folder.isTestSource |lower}}"{% else %} isTestSource="false"{% endif %}
        {%- if folder.packagePrefix %} packagePrefix="{{folder.packagePrefix}}"{% endif %}
        {%- if folder.isResourceFolder %} type="{{folder.resourceFolderType}}"
          {%- if folder.relativeOutputPath %} relativeOutputPath=""{% endif %}
        {% endif %} />
      {% endfor %}
      {% for folder in contentRoot.folders.excludeFolder %}
      <excludeFolder url="{{folder.url}}"
        {%- if folder.isTestSource %} isTestSource="{{folder.isTestSource |lower}}"{% else %} isTestSource="false"{% endif %}
        {%- if folder.packagePrefix %} packagePrefix="{{folder.packagePrefix}}"{% endif %}
        {%- if folder.isResourceFolder %} type="{{folder.resourceFolderType}}"
          {%- if folder.relativeOutputPath %} relativeOutputPath=""{% endif %}
        {% endif %} />
      {% endfor %}
    </content>
    {% endfor %}
    {% endif %}
    {% if sdk %}
    <orderEntry type="jdk" jdkName="{{sdk}}" jdkType="{{sdkType}}" />
    {% else %}
    <orderEntry type="inheritedJdk" />
    {% endif %}
    <orderEntry type="sourceFolder" forTests="false" />
    {% if dependencies %}
    {% for dep in dependencies.MODULE %}
    <orderEntry type="module" module-name="{{dep.name}}"
      {%- if dep.scope %} scope="{{dep.scope}}" {% else %} scope="COMPILE" {% endif %}
      {%- if dep.exported %}exported="" {% endif %}/>
    {% endfor %}
    {% for dep in dependencies.MODULE_LIBRARY %}
    <orderEntry type="module-library"
      {%- if dep.scope %} scope="{{dep.scope}}" {% else %} scope="COMPILE" {% endif %}
      {%- if dep.exported %}exported="" {% endif %}>
      <library name="{{dep.name}}">
        <CLASSES>
          {% for binjar in dep.binaryJars %}
                <root url="jar://$MODULE_DIR$/{{binjar}}!/" />
          {% endfor %}
          {% for cpath in dep.classPaths %}
                <root url="file://$MODULE_DIR$/{{cpath}}" />
          {% endfor %}
        </CLASSES>
        {% if dep.javadocUrls %}
        <JAVADOC>
          {% for docurl in dep.javadocUrls %}
                <root url="{{docurl}}" />
          {% endfor %}
        </JAVADOC>
        {% else %}
        <JAVADOC />
        {% endif %}
        {% if dep.sourceJars %}
        <SOURCES>
          {% for srcjar in dep.sourceJars %}
                <root url="jar://$MODULE_DIR$/{{srcjar}}!/" />
          {% endfor %}
        </SOURCES>
        {% else %}
        <SOURCES />
        {% endif %}
      </library>
    </orderEntry>
    {% endfor %}
    {% for dep in dependencies.LIBRARY %}
    <orderEntry type="library" name="{{dep.name}}"
      {%- if dep.scope %} scope="{{dep.scope}}"{% else %} scope="COMPILE"{% endif %} level="project"
      {%- if dep.exported %}exported="" {% endif %} />
    {% endfor %}
    {% endif %}
  </component>
</module>