name: Build and test
on:
  push:
  pull_request:
  workflow_dispatch: # allows manual triggering
jobs:
  linux-build-and-test:
    runs-on: 4-core-ubuntu
    steps:
    - uses: actions/checkout@v6
    - uses: ./.github/actions/setup_linux_env
    - uses: ./.github/actions/build_debug
    - uses: ./.github/actions/run_test_py
  macos-build-and-test:
    runs-on: macos-latest
    steps:
    - uses: maxim-lobanov/setup-xcode@v1.6.0
      with:
        xcode-version: 16.4.0
    - uses: actions/checkout@v6
    - uses: ./.github/actions/setup_macos_env
    - uses: ./.github/actions/build_debug
    - uses: ./.github/actions/run_test_py
  windows-build-and-test:
    runs-on: windows-8-core
    steps:
    - uses: actions/checkout@v6
    - uses: ./.github/actions/setup_windows_env
    - uses: ./.github/actions/build_debug
    - uses: ./.github/actions/run_test_py
